h2{
color: blackr;
}
.cmp-helloworld{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: fit-content;
    border-width: 4px;
    padding: 10px;
    color: white;
    border: 1px solid black;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cmp-helloworld__title{

}
.cmp-helloworld__item{
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

/* .firstService p{
    color: tomato;
    font-style: italic;
}
.heading{
    color: brown !important;
} */